h1, p, a, div {
  color: white;
  
}
:root {
  --accent:red;
  --bg-image:url("https://planetdaikatana.net/gryd014.jpg");
}
* {
  box-sizing:border-box;
}

body {
  background-image:var(--bg-image);
}
